<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="assets/images/dupatta.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="font-weight-bold primary text-primary">Dupatta</h2>
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/Cotton Fabric.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h2 class="font-weight-bold text-primary">Cotton Fabric</h2>
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/Cotton Colourful Fabric 200 count.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h2 class="font-weight-bold text-primary">Cotton Colourful Fabric</h2>
          </div>
      </div>
    </div>
  </div>